@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Blue: rgb(13, 104, 165);
}

* {
    font-family: "Roboto";
    margin: 0 0;
}

body {
    background-color: black;
    color: aliceblue;
    height: 300vh;
}

html {
    scroll-behavior: smooth;
}


.navbar {
    background-color: var(--Blue);
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000
}

.joao {
    margin-left: 512px;
    margin-top: 10px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: transform 0.8s;
}

.joao:hover {
    transform: scale(1.1);
}
.joao2{
    margin-left: 64px;
    margin-top: 10px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: transform 0.8s;
}
.joao2:hover {
    transform: scale(1.1);
}


h1 {
    font-size: 64px;
    margin-top: 4rem;
    margin-left: 2rem;
    position: relative;
}

h2 {
    font-size: 82px;
    margin-left: 2rem;
    position: relative;
}

.img-center {
    position: absolute;
    margin-left: 600px;

    width: 35rem;
    height: 30rem;
}

.Watch {

    margin-left: 3rem;
    background-color: var(--Blue);
    font-size: 32px;
    color: rgb(15, 13, 13);
    margin-top: 64px;

    width: 20rem;
    height: 5rem;
    border-radius: 4px;
    border: 16px;

    transition: 1s ease;
}

.Watch:hover {
    font-size: 40px;
    transform: scale(1.1);
    background-color: var(--Blue);
}


#filme {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 32px;
}


.movie-card {
    width: 250px;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-family: Arial, sans-serif;
    margin-left: 16px;
    transition: 0.9s ease;
}

.movie-card:hover {
    transform: scale(1.1);
}

.movie-img {
    display: flex;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.movie-info {
    padding: 12px;
}

.movie-title {
    font-size: 16px;
    margin: 0 0 6px 0;
}

.movie-year {
    font-size: 12px;
    color: #aaa;
}

.movie-genre {
    font-size: 14px;
    margin: 6px 0 0 0;
    color: #ddd;
}

.cards_movies {

    display: flex;
}

#serie {
    margin-top: 128px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 32px;
}
